:root {
    --error-color: red;
    --minor-color: gray;
  }
  
.error {
    color: var(--error-color);
}

.small-label {
    font-size: small;
    color: var(--minor-color);
}

div {
    overflow: scroll;
}
